version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq-local
    ports:
      - "5672:5672" #AMQP port
      - "15672:15672" #DASHBOARD port
    env_file:
      - .env
    volumes: 
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', 'ping']
      interval: '10s'
      timeout: 5s
      retries: 5

volumes:
  rabbitmq_data: